* {
  box-sizing: border-box;
}

body {
  min-width: 1100px;
  max-width: 1440px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  background-color: #fff;
}

h1 {
  font-weight: 800;
  font-size: 100px;
  text-transform: uppercase;
}

h2 {
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
}

h3 {
  font-weight: 800;
  font-size: 31px;
}

h4 {
  font-weight: 800;
  font-size: 22px;
  text-transform: uppercase;
}

h5 {
  width: 350px;
  font-weight: 800;
  text-transform: uppercase;
}
a {
  color: #000;
}

p {
	font-size: 20px;
}

 ul {
	 font-size: 18px;
 }

 .title-cover {
	font-weight: 800;
	font-size: 100px;
	text-transform: uppercase;
 }
.contact-information {
	 margin-bottom: 0px;
	 margin-top: 0px;
	 text-decoration: underline;
	 font-size: 18px;
	 font-style: normal;
 }
 .address {
	 margin-bottom: 0px;
	 margin-top: 0px;
	 font-size: 18px;
	 font-style: normal;
 }
.header {
  display: flex;
  margin: auto;
  padding-left: 55px;
}

.header-menu {
	display: flex;
	margin-top: auto;
	margin-bottom: auto;
}
.header-image {
	margin: auto;
	width: 148px;
	height: 105px;
}
.image-about {
	width: 240px;
	height: 240px;
	border-radius: 150px;
	background-size: cover;
	background-color: #000;
	margin-right: 95px;
}
.header-info-auction {
	margin-top: auto;
	margin-bottom: auto;
}

.footer {
  display: flex;
  padding-left: 35px;
  width: 100%;
}

.footer-menu {
	margin: auto;
}

.footer-menu-ul {
	display: grid;
}

.footer-info-auction {
	margin-top: auto;
	margin-bottom: auto;
}

.social-media {
	display: flex;
	width: 200px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
}
social-media-image {
	display: flex;
}
.YT {
	background-image: url(./Image/yt.svg);
	width: 48px;
	height: 48px;
}
.VK {
	background-image: url(./Image/vk.svg);
	width: 48px;
	height: 48px;
	margin:auto;
}

.Pinterest {
	background-image: url(./Image/pinterest.svg);
	width: 48px;
	height: 48px;
}

.menu-link {
	text-decoration: underline;
	font-size: 18px;
	margin-bottom: 2px;
	margin-top: 0px;
}

.menu-link-main {
	text-decoration: none;
	font-size: 18px;
	margin-bottom: 2px;
	margin-top: 0px;
}

.main {
	padding-top: 75px;
	padding-bottom: 55px;
	padding-left: 35px;
}
.cover {
	background: 
		linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
		url("./Image/cover.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 750px;
}

.title {
  display: grid;
  grid-template-columns: 466px 466px 466px;
  grid-template-rows: 118px 118px 118px;
  margin: auto auto auto 0;
  color: white;
}
.cover-text {
	position: relative;
	top: 270px;
	left: 100px;
	color: rgb(255, 255, 255);
}

.cover-button {
	width: 250px;
	height: 50px;
	font-size: 22px;
	text-transform: uppercase;
	border: solid #FFF;
	border-width: 1px;
	background-color: rgba(0, 0, 0, 0);
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	position: relative;
	top: 200px;
	left: 1090px;

}

.sublin {
	padding-top: 170px;
	justify-content: center;
	align-items: flex-end;
}

.lots {
	display: flex;
	column-gap: 25px;
	padding-bottom: 25px;
	padding-left: 35px;
}
.card {
	width: 430px;
	min-height: 450px;
	background-color: rgba(00, 00, 00, 0.5);
}
.card1 {
	background: 
		linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
		url("./Image/card-lot-01.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.card2 {
	background: 
		linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
		url("./Image/card-lot-02.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.card3 {
	background: 
		linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
		url("./Image/card-lot-03.jpg");
	background-size: cover;
	background-repeat: no-repeat
}
.text {
	color: #FFF;
	padding-right: 20px;
	padding-left: 20px;
}

.lots-sup {
	margin-left: 35px;
}

.card-link {
	text-decoration: underline;
	font-size: 18px;
	padding-left: 35px;
}

.text-title {
	text-decoration: underline;
	color: #FFF;
	margin-right: auto;
	margin-left: auto;
	display: grid;
	align-items: end;
	padding-right: 20px;
	padding-left: 20px;
}
.about {
	display: flex;
	padding-top: 95px;
	padding-left: 95px;
}

.about-sup {
}

.about-title {
	padding-top: 95px;
	padding-bottom: 95px;
}
.about-text {
	padding-top: 34px;
	padding-bottom: 34px;
	width: 885px;
 
}