* {
  box-sizing: border-box;
}

body {
  min-width: 1100px;
  margin:0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  background-color: #fff;
  max-width: 1440px;
}

h1 {
  font-weight: 800;
  font-size: 100px;
  text-transform: uppercase;
  color: white;
}

h2 {
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
}

h3 {
  font-weight: 800;
  font-size: 22px;
  text-transform: uppercase;
}

a {
  color: #000;
}

.contact-information {
	display: block;
	 margin-bottom: 0px;
	 margin-top: 0px;
	 text-decoration: underline;
	 font-size: 18px;
	 font-style: normal;
 }

 .address {
	 display: block;
	 font-style: normal;
	 margin-bottom: 0px;
	 margin-top: 0px;
	 font-size: 18px;
	 text-decoration: none;
 }

.header {
  display: flex;
  margin: auto;
  padding-left: 50px;
  padding-top: 92px;
  padding-bottom: 96px;
  padding-right: 50px;
  justify-content: space-between;
}

.header-info-auction {
	margin-top: auto;
	margin-bottom: auto;
}
.menu {
	display: flex;
	gap: 40px;
}

.header-menu {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header-image {
	display: block;
	width: 134px;
	height: 105px;
	background-image: url(../Image/logo-black.svg);
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: 11%;
}

.footer {
  display: flex;
  padding-left: 50px;
  width: 100%;
  justify-content: space-between;
}

.footer-menu {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 9%;
}

.footer-menu-ul {
	display: grid;
}

.footer-info-auction {
	margin-top: auto;
	margin-bottom: auto;
}

.social-media {
	display: flex;
	gap: 48px;
	list-style-type: none;
}

.social-media-image {
	display: flex;
	width: 48px;
	height: 48px;
	
}

.YT {
	background-image: url(../Image/yt.svg);
}
.VK {
	background-image: url(../Image/vk.svg);
}
.Pinterest {
	background-image: url(../Image/pinterest.svg);
}

.menu-link {
	text-decoration: underline;
	font-size: 18px;
	margin-bottom: 2px;
	margin-top: 0px;
	list-style-type: circle;
}

.menu-link-main {
	text-decoration: none;
	font-size: 18px;
	margin-bottom: 2px;
	margin-top: 0px;
	list-style-type: none;
}

.menu-under {
	list-style-type: none;
	text-align: center
}

.lots-section{
	list-style-type: none;
}

.main {
	padding-bottom: 180px;
}

.title-br {
	line-height: 42px;
}
.cover {
	background: 
		linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
		url("../Image/cover.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.title {
  padding-top: 165px;
  padding-left: 50px;
  padding-right: 50px;
}
.title-cover-start {
	letter-spacing: 39px;
	display: block;
 }
.title-cover {
	text-align: center;
	letter-spacing: 39px;
	display: block;
}
.title-cover-end {
	text-align: end;
	letter-spacing: 39px;
	display: block;
}

.cover-under {
	display: flex;
	padding-top: 135px;
	padding-bottom: 50px;
	padding-right: 48px;
}

.cover-text {
	color: #fff;
	margin-left: auto;
	word-spacing: 20px;
	text-transform: uppercase;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 77px;
	font-size: 22px;
}

.cover-button {
	width: 250px;
	height: 50px;
	font-size: 22px;
	text-transform: uppercase;
	border: solid #FFF;
	border-width: 1px;
	background-color: rgba(0, 0, 0, 0);
	color: #fff;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	top: 200px;
	left: 1090px;
    justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

.sublin {
	padding-top: 170px;
	justify-content: center;
	align-items: flex-end;
}

.lots-section {
	padding-bottom: 25px;
	padding-left: 25px;
}

.lots {
	display: flex;
	margin-bottom: 29px; 
	flex-wrap: wrap;
}

.card {
	width: 430px;
	min-height: 450px;
	background-color: rgba(00, 00, 00, 0.5);
	display: flex;
	flex-direction: column;
}
.card1 {
	background: 
		linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
		url("../Image/card-lot-01.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.card2 {
	background: 
		linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
		url("../Image/card-lot-02.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.card3 {
	background: 
		linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
		url("../Image/card-lot-03.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.text {
	color: #FFF;
	padding-right: 20px;
	padding-left: 20px;
	text-decoration: none;
	margin-bottom: 49px;
	margin-top: auto;
	font-size: 20px;
}

.lots-title {
	margin-left: 35px;
	padding-top: 180px;
	margin-bottom: 27px;
}

.card-link {
	text-decoration: underline;
	font-size: 18px;
	margin-left: 35px;
}

.text-title {
	text-decoration: underline;
	color: #FFF;
	display: grid;
	align-items: end;
	margin-right: 20px;
	margin-left: 20px;
	padding-top: 49px; 
}

.about {
	display: flex;
	padding-top: 95px;
	padding-left: 50px;
}

.about-sup {
	margin-left: 25px;
}

.about-title {
	padding-top: 95px;
	padding-bottom: 95px;
}

.about-text-div {
	display: flex;
	font-size: 20px;
	gap: 25px;
	flex-direction: column;
}

.about-text {
	font-size: 20px;
}

.image-about {
	background-size: cover;
	width: 148px;
	height: 114px;
	display: block;
	margin: auto;
	margin-left: 75%;
}
.circle {
    width: 240px;
	height: 240px;
    background-color: #000;
	padding-right: 180px;
	border-radius: 50%;
	display: flex;
	margin-left: 95px;
	margin-right: 95px;
}

.leters-title {
	letter-spacing: 70px;
}